.DS_Store
*.egg-info
*.pot
*.py[co]
.tox/
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
migrations/

wantedly/settings_secret.py
wantedly_app/static/wantedly_app/img/7ca686fd-f2b7-4ea7-90ce-f0793f3b6d75.png
wantedly_app/static/wantedly_app/img/3fa70b51-efca-40fb-a392-8cdb6ce8d245.jpeg
wantedly_app/static/wantedly_app/img/0ac4ef46-e638-4af4-b544-fbd1d0bc51ea.png

media/*
!default_cover.jpg
!default_avatar.jpg

insert_records.py

.babelrc
package-lock.json
package.json
webpack.config.js
frontend/

