{% extends 'base_home.html' %}

{% block content %}

<section id="featured-slider-container">
  <div id="featured-slider">
    <div class="slide-window">
      <div class="slide-wrapper">
        <div class="slide">
          <a href="#" target="_blank">
            <div class="responsive-img-wrapper">
              <div class="responsive-img" style="background-image: url('static/wantedly_app/img/slide1.jpg')">
              </div>
            </div>
          </a>
          <div class="slide-article">
            <a href="#" class="tag">Webエンジニア</a>
            <h2 class="slide-article-title">テクノロジーを活用し、きめ細やかな教育を実現するフロントエンドエンジニアWANTED！</h2>
            <div class="slide-article-information">
              <img src="{{ user.profile.avatar }}" alt="avatar" width="40" height="40" class="avatar dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <a href="#" class="avatar-company">HODAKA Web Engineering Laboratory</a>
            </div>
          </div>
        </div>
        <div class="slide">
          <a href="#" target="_blank">
            <div class="responsive-img-wrapper">
              <div class="responsive-img" style="background-image: url('static/wantedly_app/img/slide2.jpg')">
              </div>
            </div>
          </a>
          <div class="slide-article">
            <a href="#" class="tag">Webエンジニア</a>
            <h2 class="slide-article-title">テクノロジーを活用し、きめ細やかな教育を実現するフロントエンドエンジニアWANTED！</h2>
            <div class="slide-article-information">
              <img src="{{ user.profile.avatar }}" alt="avatar" width="40" height="40" class="avatar dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <a href="#" class="avatar-company">HODAKA Web Engineering Laboratory</a>
            </div>
          </div>
        </div>
        <div class="slide">
          <a href="#" target="_blank">
            <div class="responsive-img-wrapper">
              <div class="responsive-img" style="background-image: url('static/wantedly_app/img/slide3.jpg')">
              </div>
            </div>
          </a>
          <div class="slide-article">
            <a href="#" class="tag">Webエンジニア</a>
            <h2 class="slide-article-title">テクノロジーを活用し、きめ細やかな教育を実現するフロントエンドエンジニアWANTED！</h2>
            <div class="slide-article-information">
              <img src="{{ user.profile.avatar }}" alt="avatar" width="40" height="40" class="avatar dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <a href="#" class="avatar-company">HODAKA Web Engineering Laboratory</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-controller">
        <div class="slide-control-left prev">
          <div class="slide-control-line"></div>
          <div class="slide-control-line"></div>
        </div>
        <div class="slide-control-right next">
          <div class="slide-control-line"></div>
          <div class="slide-control-line"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-md-8">
      <div id="main-contents">
        <div class="row">
          <div class="col-md-12">
            <div class="responsive-img-wrapper">
              <div class="responsive-img" style="background-image: url('static/wantedly_app/img/hero1.jpg');">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="responsive-img-wrapper">
              <div class="responsive-img" style="background-image: url('static/wantedly_app/img/hero1.jpg');">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="responsive-img-wrapper">
              <div class="responsive-img" style="background-image: url('static/wantedly_app/img/hero1.jpg');">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div id="sidebar">

      </div>
    </div>
  </div>
</section>

{% endblock %}
