{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'wantedly_app/css/custom.css' %}">
  </head>
  <body>
    <header>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md">
            <h4>サービス</h4>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
          </div>
          <div class="col-md">
            <h4>アプリ</h4>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
          </div>
          <div class="col-md">
            <h4>リンク</h4>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
          </div>
          <div class="col-4">
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
          </div>
        </div>
      </div>
    </footer>

    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static 'wantedly_app/js/custom.js' %}"></script>
  </body>
</html>
