{% extends 'base_home.html' %}

{% load widget_tweaks %}

{% block content %}

<section id="profile-header">
  {% if cover %}
  <div class="responsive-img-wrapper" id="profile-cover-bg">
    <div class="responsive-img" style="background-image: url('{{ cover }}')">
    </div>
  </div>
  {% endif %}
  <div class="container">
    <div class="row">
      <div class="col-md" id="profile-editable-data">
        {% if cover %}
        <div class="responsive-img-wrapper" id="profile-cover">
          <div class="responsive-img" style="background-image: url('{{ cover }}')">
            <a href="/users/{{ user.id }}" id="go-to-profile-edit-page">自分のプロフィールを確認する<i class="fas fa-arrow-circle-right"></i></a>
          </div>
          <div class="responsive-img" id="profile-cover-edit" data-toggle="modal" data-target="#edit-cover-modal">
            <p><i class="fas fa-image"></i>カバー写真を変更</p>
          </div>
        </div>
        {% else %}
        <div id="profile-cover-offset">
          <a href="/users/{{ user.id }}" id="go-to-profile-edit-page">自分のプロフィールを確認する<i class="fas fa-arrow-circle-right"></i></a>
        </div>
        {% endif %}
        <div id="profile-heading" style="margin-bottom: 0;">
          <div id="profile-avatar" class="bg-white">
            <img src="{{ avatar }}" alt="avatar" width="120" height="120" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div id="profile-avatar-edit" data-toggle="modal" data-target="#edit-avatar-modal">
              <p><i class="fas fa-camera-retro"></i>写真を変更</p>
            </div>
          </div>
          <div id="profile-text">
            {% if cover %}
            <h1>{{ user.username }}</h1>
            <p id="favorite-words">
              {% if user.profile.favorite_words %}
              <i class="fas fa-quote-left"></i>
              {{ user.profile.favorite_words }}
              <i class="fas fa-quote-right"></i>
              {% else %}
              &nbsp;
              {% endif %}
            </p>
            {% else %}
            <h1 style="color: #333;">{{ user.username }}</h1>
            <p style="color: #333;" id="favorite-words">
              {% if user.profile.favorite_words %}
              <i class="fas fa-quote-left"></i>
              {{ user.profile.favorite_words }}
              <i class="fas fa-quote-right"></i>
              {% else %}
              &nbsp;
              {% endif %}
            </p>
            {% endif %}
            <ul>
              <li id="job">
                {% if user.profile.job.job %}
                <i class="fas fa-briefcase"></i>
                {{ user.profile.job.job }}
                {% endif %}
              </li>
              <li id="organization">
                {% if organizations %}
                <i class="fas fa-building"></i>
                {% for o in organizations %}
                {{ o.organization }}
                {% endfor %}
                {% endif %}
              </li>
              <li id="location">
                {% if user.profile.location %}
                <i class="fas fa-map-marker-alt"></i>
                {{ user.profile.location }}
                {% endif %}
              </li>
            </ul>
            <div class="profile-config">
              <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#profile-edit-modal">
                <i class="fas fa-pen"></i>編集する
              </button>
              <div class="btn-group">
                <button type="button" class="btn btn-outline-info dropdown-toggle" id="profile-privacy-level" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% if user.profile.privacy %}
                  {{ user.profile.privacy.icon|safe }}
                  {% else %}
                  <i class="fas fa-users"></i>
                  {% endif %}
                </button>
                <form class="post-form-to-edit-privacy-level" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="target-instance-name" value="profile">
                  <input type="hidden" name="change-privacy-level" value="true">
                  <div class="dropdown-menu dropdown-menu-right">
                    {% for p in privacy %}
                    <button class="dropdown-item post-button-to-edit-privacy-level" type="button" name="privacy-id" value="{{ p.id }}">{{ p.icon|safe }}{{ p.privacy_level }}</button>
                    {% endfor %}
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container" id="profile-body">
  <div class="row">
    <div class="col-md-8" id="main-contents">
      <section>
        <h2>紹介文</h2>
        <div class="profile-config">
          <button type="button" class="btn btn-outline-info btn-for-editing">
            <i class="fas fa-pen"></i>編集する
          </button>
          <div class="btn-group">
            <button type="button" class="btn btn-outline-info dropdown-toggle" id="introduction-privacy-level" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% if introduction.privacy %}
              {{ introduction.privacy.icon|safe }}
              {% else %}
              <i class="fas fa-users"></i>
              {% endif %}
            </button>
            <form class="post-form-to-edit-privacy-level" method="post">
              {% csrf_token %}
              <input type="hidden" name="target-instance-name" value="introduction">
              <input type="hidden" name="change-privacy-level" value="true">
              <div class="dropdown-menu dropdown-menu-right">
                {% for p in privacy %}
                <button class="dropdown-item post-button-to-edit-privacy-level" type="button" name="privacy-id" value="{{ p.id }}">{{ p.icon|safe }}{{ p.privacy_level }}</button>
                {% endfor %}
              </div>
            </form>
          </div>
        </div>
        <div class="editable-data" id="{{ introduction.id }}">
          {% if introduction.introduction %}
          {{ introduction.introduction|linebreaks }}
          {% endif %}
        </div>
        <div class="form-for-editing" style="display: none">
          <form class="post-form-to-edit-profile" method="post">
            {% csrf_token %}
            <input type="hidden" name="target-instance-name" value="introduction">
            <div class="form-group">
              {% render_field form.introduction.introduction class="form-control" %}
              {% for error in form.introduction.introduction.errors %}
              <span class="text-warning">{{ error }}</span>
              {% endfor %}
              <div class="char-counter" data-max-length="{{ max_length.introduction }}">
                残り<span>{{ remaining_length.introduction }}</span>文字
              </div>
            </div>
            <div class="form-btn">
              <button type="button" class="btn btn-outline-info btn-to-cancel-editing">キャンセル</button>
              <button type="submit" class="post-button-for-profile-edit btn btn-info">更新</button>
            </div>
          </form>
        </div>
      </section>

      <section>
        <h2>この先やってみたいこと</h2>
        <div class="profile-config">
          <button type="button" class="btn btn-outline-info btn-for-editing">
            <i class="fas fa-pen"></i>編集する
          </button>
          <div class="btn-group">
            <button type="button" class="btn btn-outline-info dropdown-toggle" id="statement-privacy-level" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% if statement.privacy %}
              {{ statement.privacy.icon|safe }}
              {% else %}
              <i class="fas fa-users"></i>
              {% endif %}
            </button>
            <form>
              {% csrf_token %}
              <input type="hidden" name="target-instance-name" value="statement">
              <input type="hidden" name="change-privacy-level" value="true">
              <div class="dropdown-menu dropdown-menu-right">
                {% for p in privacy %}
                <button class="dropdown-item post-button-to-edit-privacy-level" type="button" name="privacy-id" value="{{ p.id }}">{{ p.icon|safe }}{{ p.privacy_level }}</button>
                {% endfor %}
              </div>
            </form>
          </div>
        </div>
        <div class="editable-data" id="{{ statement.id }}">
          {% if statement.statement %}
          {{ statement.statement|linebreaks }}
          {% endif %}
        </div>
        <div class="form-for-editing" style="display: none">
          <form class="post-form-to-edit-profile" method="post">
            {% csrf_token %}
            <input type="hidden" name="target-instance-name" value="statement">
            <div class="form-group">
              {% render_field form.statement.statement class="form-control" placeholder='オリジナルのWebサービスを作って一発当てたいです！' %}
              {% for error in form.statement.statement.errors %}
              <span class="text-warning">{{ error }}</span>
              {% endfor %}
              <div class="char-counter" data-max-length="{{ max_length.statement }}">
                残り<span>{{ remaining_length.statement }}</span>文字
              </div>
            </div>
            <div class="form-btn">
              <button type="button" class="btn btn-outline-info btn-to-cancel-editing">キャンセル</button>
              <button type="submit" class="post-button-for-profile-edit btn btn-info">更新</button>
            </div>
          </form>
        </div>
      </section>

      <section>
        <h2>職歴</h2>
        <div class="profile-config">
          <button type="button" class="btn btn-outline-info btn-for-editing btn-for-adding">
            <i class="fas fa-plus-circle"></i>追加する
          </button>
          <div class="btn-group">
            <button type="button" class="btn btn-outline-info dropdown-toggle" id="work-history-privacy-level" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% if work_history.privacy %}
              {{ work_history.privacy.icon|safe }}
              {% else %}
              <i class="fas fa-users"></i>
              {% endif %}
            </button>
            <form>
              {% csrf_token %}
              <input type="hidden" name="target-instance-name" value="work-history">
              <input type="hidden" name="change-privacy-level" value="true">
              <div class="dropdown-menu dropdown-menu-right">
                {% for p in privacy %}
                <button class="dropdown-item post-button-to-edit-privacy-level" type="button" name="privacy-id" value="{{ p.id }}">{{ p.icon|safe }}{{ p.privacy_level }}</button>
                {% endfor %}
              </div>
            </form>
          </div>
        </div>
        <ul class="profile-entries" id="{{ work_history.id }}">
          <li>
            <div class="form-for-adding" style="display: none">
              <form class="post-form-to-add-profile" method="post">
                {% csrf_token %}
                <input type="hidden" name="target-instance-name" value="work-history">
                <input type="hidden" name="add-new-profile-data" value="add-new-profile-data">
                {% render_field form.experience.work_history_id type="hidden" value=work_history.id %}
                <div class="form-group">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="organization">組織名</label>
                      {% render_field form.experience.organization class="form-control" placeholder="組織名" %}
                      {% for error in form.experience.organization.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                    </div>
                    <div class="form-group col-md-6">
                      <label for="job">役職</label>
                      {% render_field form.experience.job class="form-control" placeholder="役職" %}
                      {% for error in form.experience.job.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="form-row">
                    <label for="enrollment-period" class="col-sm-12">在籍期間</label>
                    <div class="form-group col-sm">
                      {% render_field form.experience.from_date class="form-control" type="date" max="2099-12-31" min="1950-01-01" %}
                      {% for error in form.experience.from_date.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                    </div>
                    <div class="form-group col-sm-1 text-center">
                      -
                    </div>
                    <div class="form-group col-sm">
                      {% render_field form.experience.to_date class="form-control" type="date" max="2099-12-31" min="1950-01-01" %}
                      {% for error in form.experience.to_date.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="experience">事業内容など</label>
                      {% render_field form.experience.experience class="form-control" rows="5" %}
                      {% for error in form.experience.experience.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                      <div class="char-counter" data-max-length="{{ max_length.experience }}">
                        残り<span>{{ max_length.experience }}</span>文字
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-btn">
                  <button type="button" class="btn btn-outline-info btn-to-cancel-adding">キャンセル</button>
                  <button type="submit" class="post-button-for-profile-add btn btn-info">追加</button>
                </div>
              </form>
            </div>
          </li>
          {% if experiences %}
          {% for experience in experiences %}
          <li id="{{ experience.id }}">
            <div class="editable-data">
              <h3 class="profile-entry-title experience-organization">
                <span>
                  {{ experience.organization }}
                  <span class="editable-mark"><i class="fas fa-pen"></i>編集する</span>
                </span>
              </h3>
              <p class="profile-entry-date experience-date">{{ experience.from_date|date:'Y-m' }} - {{ experience.to_date|date:'Y-m' }}</p>
              <p class="profile-entry-subtitle experience-job">{{ experience.job }}</p>
              <p class="profile-entry-description experience-description">{{ experience.experience }}</p>
            </div>
            <div class="form-for-editing" style="display: none">
              <form class="post-form-to-edit-profile" method="post">
                {% csrf_token %}
                <input type="hidden" name="target-instance-name" value="work-history">
                <input type="hidden" name="uuid" value="{{ experience.id }}">
                {% render_field form.experience.work_history_id type="hidden" value=work_history.id %}
                <div class="form-group">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="{{ experience.organization }}">組織名</label>
                      {% render_field form.experience.organization class="form-control" value=experience.organization placeholder="組織名" %}
                      {% for error in form.experience.organization.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                    </div>
                    <div class="form-group col-md-6">
                      <label for="{{ experience.job }}">役職</label>
                      {% render_field form.experience.job class="form-control" value=experience.job placeholder="役職" %}
                      {% for error in form.experience.job.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="form-row">
                    <label for="enrollment-period" class="col-sm-12">在籍期間</label>
                    <div class="form-group col-sm">
                      {% render_field form.experience.from_date class="form-control" type="date" value=experience.from_date max="2099-12-31" min="1950-01-01" %}
                      {% for error in form.experience.from_date.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                    </div>
                    <div class="form-group col-sm-1 text-center">
                      -
                    </div>
                    <div class="form-group col-sm">
                      {% render_field form.experience.to_date class="form-control" type="date" value=experience.to_date max="2099-12-31" min="1950-01-01" %}
                      {% for error in form.experience.to_date.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="{{ experience.experience }}">事業内容など</label>
                      {% render_field form.experience.experience class="form-control" rows="5" %}
                      {% for error in form.experience.experience.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                      <div class="char-counter" data-max-length="{{ max_length.experience }}">
                        残り<span>{{ max_length.experience }}</span>文字
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-btn">
                  <button type="button" class="btn btn-link text-info delete-btn" data-toggle="modal" data-target="#delete-profile-modal" data-instance-type="work-history" data-instance-id="{{ experience.id }}">この項目を削除</button>
                  <button type="button" class="btn btn-outline-info btn-to-cancel-editing">キャンセル</button>
                  <button type="submit" class="post-button-for-profile-edit btn btn-info">更新</button>
                </div>
              </form>
            </div>
          </li>
          {% endfor %}
          {% endif %}
        </ul>
      </section>

      <section>
        <h2>ポートフォリオ・作品</h2>
        <div class="profile-config">
          <button type="button" class="btn btn-outline-info btn-for-editing btn-for-adding">
            <i class="fas fa-plus-circle"></i>追加する
          </button>
          <div class="btn-group">
            <button type="button" class="btn btn-outline-info dropdown-toggle" id="portfolio-privacy-level" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% if portfolio.privacy %}
              {{ portfolio.privacy.icon|safe }}
              {% else %}
              <i class="fas fa-users"></i>
              {% endif %}
            </button>
            <form>
              {% csrf_token %}
              <input type="hidden" name="target-instance-name" value="portfolio">
              <input type="hidden" name="change-privacy-level" value="true">
              <div class="dropdown-menu dropdown-menu-right">
                {% for p in privacy %}
                <button class="dropdown-item post-button-to-edit-privacy-level" type="button" name="privacy-id" value="{{ p.id }}">{{ p.icon|safe }}{{ p.privacy_level }}</button>
                {% endfor %}
              </div>
            </form>
          </div>
        </div>
        <ul id="{{ portfolio.id }}">
          <li class="profile-portfolio">
            <div class="form-for-adding" style="display: none">
              <form class="post-form-to-add-portfolio"  method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="target-instance-name" value="portfolio">
                <input type="hidden" name="add-new-profile-data" value="add-new-profile-data">
                {% render_field form.work.portfolio_id type="hidden" %}
                <div class="form-group">
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <div class="upload-portfolio-image-btn">
                        クリックで画像をアップロード<br>
                        JPEG / PNG / GIF形式に対応しています
                      </div>
                      {% render_field form.image.image class="custom-file-input upload-portfolio-image" multiple="" %}
                      {% for error in form.image.image.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
                  <hr>
                  <div class="form-row portfolio-image-group">
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="work-title">作品名</label>
                      {% render_field form.work.title class="form-control" %}
                      {% for error in form.work.title.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                    </div>
                    <div class="form-group col-md-6">
                      <label for="work-related-url">関連URL</label>
                      {% render_field form.work.url class="form-control" %}
                      {% for error in form.work.url.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="work-detail">詳細</label>
                      {% render_field form.work.detail class="form-control" rows="5" %}
                      {% for error in form.work.detail.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                      <div class="char-counter" data-max-length="{{ max_length.work_detail }}">
                        残り<span>{{ max_length.work_detail }}</span>文字
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <label for="work-made-at" class="col-sm-12">作成日</label>
                    <div class="form-group col-sm-6">
                      {% render_field form.work.made_at type="date" max="2099-12-31" min="1950-01-01" class="form-control" %}
                      {% for error in form.work.made_at.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="form-btn">
                  <button type="button" class="btn btn-outline-info btn-to-cancel-adding">キャンセル</button>
                  <button type="submit" class="post-button-for-profile-add btn btn-info">追加</button>
                </div>
              </form>
            </div>
          </li>
          {% if works %}
          {% for work in works %}
          <li class="profile-portfolio" id="{{ work.id }}">
            <div class="row editable-data">
              <div class="col-md-6">
                <div class="responsive-img-wrapper portfolio-image">
                  {% with images=work.image_set.all|dictsort:"uploaded_at" %}
                  {% if images %}
                  <div class="responsive-img" style="background-image: url('/media/{{ images.0.image }}')">
                  </div>
                  {% else %}
                  <div class="no-image">
                    <p>NO IMAGE</p>
                  </div>
                  {% endif %}
                  {% endwith %}
                </div>
              </div>
              <div class="col-md-6">
                <h3 class="profile-portfolio-title">
                  <span>
                    {{ work.title }}
                    <span class="editable-mark"><i class="fas fa-pen"></i>編集する</span>
                  </span>
                </h3>
                <p class="profile-portfolio-date">{{ work.made_at|date:'Y-m' }}</p>
                <p class="profile-portfolio-link">{{ work.url }}</p>
                <p class="profile-portfolio-detail">{{ work.detail }}</p>
              </div>
            </div>
            <div class="form-for-editing" style="display: none">
              <form class="post-form-to-edit-portfolio" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="target-instance-name" value="portfolio">
                <input type="hidden" name="uuid" value="{{ work.id }}">
                <div class="form-group">
                  <div class="form-row">
                    <div class="col-md-12">
                      <div class="upload-portfolio-image-btn">
                        クリックで画像をアップロード<br>
                        JPEG / PNG / GIF形式に対応しています
                      </div>
                      {% render_field form.image.image class="custom-file-input upload-portfolio-image" multiple="" %}
                      {% for error in form.image.image.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
                  <hr>
                  <div class="form-row portfolio-image-group">
                    {% for work_image in work.image_set.all|dictsort:"uploaded_at" %}
                    <div class="form-group col-md-3" id="{{ work_image.id }}">
                      <div class="responsive-img-wrapper portfolio-image">
                        <div class="responsive-img delete-btn" style="background-image: url('/media/{{ work_image.image }}')" data-toggle="modal" data-target="#delete-profile-modal" data-instance-type="portfolio-image" data-instance-id="{{ work_image.id }}">
                          <i class="fas fa-times-circle"></i>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="{{ work.title }}">作品名</label>
                      {% render_field form.work.title class="form-control" value=work.title %}
                      {% for error in form.work.title.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                    </div>
                    <div class="form-group col-md-6">
                      <label for="{{ work.url }}">関連URL</label>
                      {% render_field form.work.url class="form-control" value=work.url %}
                      {% for error in form.work.url.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="{{ work.detail }}">詳細</label>
                      {% render_field form.work.detail class="form-control" value=work.detail rows="5" %}
                      {% for error in form.work.detail.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                      <div class="char-counter" data-max-length="{{ max_length.work_detail }}">
                        残り<span>{{ max_length.work_detail }}</span>文字
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <label for="{{ work.made_at }}" class="col-sm-12">作成日</label>
                    <div class="form-group col-sm-6">
                      {% render_field form.work.made_at type="date" max="2099-12-31" min="1950-01-01" class="form-control" value=work.made_at %}
                      {% for error in form.work.made_at.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="form-btn">
                  <button type="button" class="btn btn-link text-info delete-btn" data-toggle="modal" data-target="#delete-profile-modal" data-instance-type="portfolio" data-instance-id="{{ work.id }}">この項目を削除</button>
                  <button type="button" class="btn btn-outline-info btn-to-cancel-editing">キャンセル</button>
                  <button type="submit" class="post-button-for-profile-edit btn btn-info">更新</button>
                </div>
              </form>
            </div>
          </li>
          {% endfor %}
          {% endif %}
        </ul>
      </section>

      <section>
        <h2>関連リンク</h2>
        <div class="profile-config">
          <button type="button" class="btn btn-outline-info btn-for-editing btn-for-adding">
            <i class="fas fa-plus-circle"></i>追加する
          </button>
          <div class="btn-group">
            <button type="button" class="btn btn-outline-info dropdown-toggle" id="related-link-privacy-level" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% if related_link.privacy %}
              {{ related_link.privacy.icon|safe }}
              {% else %}
              <i class="fas fa-users"></i>
              {% endif %}
            </button>
            <form>
              {% csrf_token %}
              <input type="hidden" name="target-instance-name" value="related-link">
              <input type="hidden" name="change-privacy-level" value="true">
              <div class="dropdown-menu dropdown-menu-right">
                {% for p in privacy %}
                <button class="dropdown-item post-button-to-edit-privacy-level" type="button" name="privacy-id" value="{{ p.id }}">{{ p.icon|safe }}{{ p.privacy_level }}</button>
                {% endfor %}
              </div>
            </form>
          </div>
        </div>
        <ul id="{{ related_link.id }}">
          <li>
            <div class="form-for-adding" style="display: none">
              <form class="post-form-to-add-profile" method="post">
                {% csrf_token %}
                <input type="hidden" name="target-instance-name" value="related-link">
                <input type="hidden" name="add-new-profile-data" value="add-new-profile-data">
                {% render_field form.url.related_link_id type="hidden" value=related_link.id %}
                <div class="form-group">
                  <label for="url">URL</label>
                  <input type="text" class="form-control" name="url">
                </div>
                <div class="form-btn">
                  <button type="button" class="btn btn-outline-info btn-to-cancel-adding">キャンセル</button>
                  <button type="submit" class="post-button-for-profile-add btn btn-info">追加</button>
                </div>
              </form>
            </div>
          </li>
          {% if urls %}
          {% for url in urls %}
          <li class="profile-related-link" id="{{ url.id }}">
            <div class="editable-data">
              <h3 class="profile-related-link-title">
                <span>
                {{ url.url }}
                  <span class="editable-mark"><i class="fas fa-pen"></i>編集する</span>
                </span>
              </h3>
            </div>
            <div class="form-for-editing" style="display: none">
              <form class="post-form-to-edit-profile" method="post">
                {% csrf_token %}
                <input type="hidden" name="target-instance-name" value="related-link">
                <input type="hidden" name="uuid" value="{{ url.id }}">
                <div class="form-group">
                  <label for="{{ url.url }}">URL</label>
                  {% render_field form.url.url class="form-control" value=url.url %}
                  {% for error in form.url.url.errors %}
                  <span class="text-warning">{{ error }}</span>
                  {% endfor %}
                </div>
                <div class="form-btn">
                  <button type="button" class="btn btn-link text-info delete-btn" data-toggle="modal" data-target="#delete-profile-modal" data-instance-type="related-link" data-instance-id="{{ url.id }}">この項目を削除</button>
                  <button type="button" class="btn btn-outline-info btn-to-cancel-editing">キャンセル</button>
                  <button type="submit" class="post-button-for-profile-edit btn btn-info">更新</button>
                </div>
              </form>
            </div>
          </li>
          {% endfor %}
          {% endif %}
        </ul>
      </section>

      <section>
        <h2>学歴</h2>
        <div class="profile-config">
          <button type="button" class="btn btn-outline-info btn-for-editing btn-for-adding">
            <i class="fas fa-plus-circle"></i>追加する
          </button>
          <div class="btn-group">
            <button type="button" class="btn btn-outline-info dropdown-toggle" id="educational-bg-privacy-level" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% if educational_bg.privacy %}
              {{ educational_bg.privacy.icon|safe }}
              {% else %}
              <i class="fas fa-users"></i>
              {% endif %}
            </button>
            <form>
              {% csrf_token %}
              <input type="hidden" name="target-instance-name" value="educational-bg">
              <input type="hidden" name="change-privacy-level" value="true">
              <div class="dropdown-menu dropdown-menu-right">
                {% for p in privacy %}
                <button class="dropdown-item post-button-to-edit-privacy-level" type="button" name="privacy-id" value="{{ p.id }}">{{ p.icon|safe }}{{ p.privacy_level }}</button>
                {% endfor %}
              </div>
            </form>
          </div>
        </div>
        <ul class="profile-entries" id="{{ educational_bg.id }}">
          <li>
            <div class="form-for-adding" style="display: none">
              <form class="post-form-to-add-profile" method="post">
                {% csrf_token %}
                <input type="hidden" name="target-instance-name" value="educational-bg">
                <input type="hidden" name="add-new-profile-data" value="add-new-profile-data">
                {% render_field form.education.educational_bg_id type="hidden" value=educational_bg.id %}
                <div class="form-group">
                  <div class="form-row">
                    <div class="form-group col-sm-6">
                      <label for="school">学校名</label>
                      {% render_field form.education.school class="form-control" %}
                      {% for error in form.education.school.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                    </div>
                    <div class="form-group col-sm-6">
                      <label for="major">学部・学科・専攻</label>
                      {% render_field form.education.major class="form-control" %}
                      {% for error in form.education.major.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="form-row">
                    <label for="graduated-at" class="col-sm-12">卒業（予定）</label>
                    <div class="form-group col-sm-6">
                      {% render_field form.education.graduated_at type="date" class="form-control" %}
                      {% for error in form.education.graduated_at.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="what-you-done">研究内容・学んだこと・課外活動・サークル</label>
                      {% render_field form.education.detail class="form-control" rows="5" %}
                      {% for error in form.education.detail.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                      <div class="char-counter" data-max-length="{{ max_length.work_detail }}">
                        残り<span>{{ max_length.work_detail }}</span>文字
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-btn">
                  <button type="button" class="btn btn-outline-info btn-to-cancel-adding">キャンセル</button>
                  <button type="submit" class="post-button-for-profile-add btn btn-info">更新</button>
                </div>
              </form>
            </div>
          </li>
          {% if educations %}
          {% for education in educations %}
          <li id="{{ education.id }}">
            <div class="editable-data">
              <h3 class="profile-entry-title education-school">
                <span>
                  {{ education.school }}
                  <span class="editable-mark"><i class="fas fa-pen"></i>編集する</span>
                </span>
              </h3>
              <p class="profile-entry-date education-graduated-at">{{ education.graduated_at|date:'Y-m' }}</p>
              <p class="profile-entry-subtitle education-major">{{ education.major }}</p>
              <p class="profile-entry-description education-detail">{{ education.detail }}</p>
            </div>
            <div class="form-for-editing" style="display: none">
              <form class="post-form-to-edit-profile" method="post">
                {% csrf_token %}
                <input type="hidden" name="target-instance-name" value="educational-bg">
                <input type="hidden" name="uuid" value="{{ education.id }}">
                <div class="form-group">
                  <div class="form-row">
                    <div class="form-group col-sm-6">
                      <label for="school">学校名</label>
                      {% render_field form.education.school class="form-control" value=education.school %}
                      {% for error in form.education.school.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                    </div>
                    <div class="form-group col-sm-6">
                      <label for="major">学部・学科・専攻</label>
                      {% render_field form.education.major class="form-control" value=education.major %}
                      {% for error in form.education.major.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="form-row">
                    <label for="{{ education.graduated_at }}" class="col-sm-12">卒業（予定）</label>
                    <div class="form-group col-sm-6">
                      {% render_field form.education.graduated_at type="date" class="form-control" value=education.graduated_at %}
                      {% for error in form.education.graduated_at.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="what-you-done">研究内容・学んだこと・課外活動・サークル</label>
                      {% render_field form.education.detail class="form-control" value=education.detail rows="5" %}
                      {% for error in form.education.detail.errors %}
                      <span class="text-warning">{{ error }}</span>
                      {% endfor %}
                      <div class="char-counter" data-max-length="{{ max_length.work_detail }}">
                        残り<span>{{ max_length.work_detail }}</span>文字
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-btn">
                  <button type="button" class="btn btn-link text-info delete-btn" data-toggle="modal" data-target="#delete-profile-modal" data-instance-type="educational-bg" data-instance-id="{{ education.id }}">この項目を削除</button>
                  <button type="button" class="btn btn-outline-info btn-to-cancel-editing">キャンセル</button>
                  <button type="submit" class="post-button-for-profile-edit btn btn-info">更新</button>
                </div>
              </form>
            </div>
          </li>
          {% endfor %}
          {% endif %}
        </ul>
      </section>
    </div>

    <div class="col-md-4" id="sidebar">
      <div class="user-profile-aside">
        <h4>ソーシャル</h4>
      </div>
      <div class="user-profile-aside">
        <div id="user-wantedly-score-wrapper">
          <div id="user-wantedly-score-circle">
            <h4>ウォンテッド・スコア</h4>
            <p id="wantedly-score">50</p>
          </div>
          <span id="about-wantedly-score" data-toggle="tooltip" data-placement="top" title="公開プロフィールの充実度によって決まります。また、あなたのつながりの情報も加味されます。">ウォンテッド・スコアとは?</span>
        </div>
      </div>
      <div class="user-profile-aside">
        <h4>関連して閲覧されているプロフィール</h4>
        <ul>
          <li>
            <a href="#" class="related-profile-list">
              {% if avatar %}
              <img src="{{ avatar }}" alt="avatar" width="40" height="40" class="avatar dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% else %}
              <img src="/media/default_avatar.jpg" alt="avatar" width="40" height="40" class="avatar dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% endif %}
              <div class="related-profile-list-info">
                <h5>{{ user.username }}</h5>
                <p>Webエンジニア, Avintonジャパン株式会社</p>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="related-profile-list">
              {% if avatar %}
              <img src="{{ avatar }}" alt="avatar" width="40" height="40" class="avatar dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% else %}
              <img src="/media/default_avatar.jpg" alt="avatar" width="40" height="40" class="avatar dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% endif %}
              <div class="related-profile-list-info">
                <h5>{{ user.username }}</h5>
                <p>Webエンジニア, Avintonジャパン株式会社</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="edit-cover-modal" tabindex="-1" role="dialog" aria-labelledby="edit-cover-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit-cover-modal-label">カバー画像</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="post-form-to-edit-image" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="target-instance-name" value="cover">
          <div class="form-group">
            {% render_field form.cover.cover class="form-control-file" id="form-to-edit-cover" %}
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="delete-image" value="True" id="delete-cover">
              <label class="form-check-label" for="delete-cover">
                 画像を削除します
              </label>
            </div>
          </div>
          <div class="form-btn">
            <button type="button" class="btn btn-outline-info" data-dismiss="modal">キャンセル</button>
            <button type="submit" class="btn btn-info">更新</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit-avatar-modal" tabindex="-1" role="dialog" aria-labelledby="edit-avatar-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit-avatar-modal-label">アバター画像</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="post-form-to-edit-image" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="target-instance-name" value="avatar">
          <div class="form-group">
            {% render_field form.avatar.avatar class="form-control-file" id="form-to-edit-avatar" %}
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="delete-image" value="True" id="delete-avatar">
              <label class="form-check-label" for="delete-avatar">
                 画像を削除します
              </label>
            </div>
          </div>
          <div class="form-btn">
            <button type="button" class="btn btn-outline-info" data-dismiss="modal">キャンセル</button>
            <button type="submit" class="btn btn-info">更新</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="profile-edit-modal" tabindex="-1" role="dialog" aria-labelledby="profile-edit-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profile-edit-modal-label">プロフィール編集</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="post-form-to-edit-profile" method="post">
          {% csrf_token %}
          <input type="hidden" name="target-instance-name" value="profile">
          <div class="form-group">
            <div class="form-row">
              <div class="form-group col-md">
                <label for="location">現在地</label>
                {% render_field form.profile.location class="form-control" value=user.profile.location %}
                {% for error in form.profile.location.errors %}
                <span class="text-warning">{{ error }}</span>
                {% endfor %}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md">
                <label for="favorite-words">好きな言葉、キャッチコピー</label>
                {% render_field form.profile.favorite_words class="form-control" value=user.profile.favorite_words %}
                {% for error in form.profile.favorite_words.errors %}
                <span class="text-warning">{{ error }}</span>
                {% endfor %}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md">
                <label for="job">職業</label>
                {% render_field form.profile.job class="form-control" value=user.profile.job.job %}
                {% for error in form.profile.job.errors %}
                <span class="text-warning">{{ error }}</span>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="form-btn">
            <button type="button" class="btn btn-outline-info" data-dismiss="modal">キャンセル</button>
            <button type="submit" class="btn btn-info">更新</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete-profile-modal" tabindex="-1" role="dialog" aria-labelledby="delete-profile-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-profile-modal-label">この項目を削除しますか？</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="post-form-to-delete-profile" method="post">
          {% csrf_token %}
          <input type="hidden" name="target-instance-name" value="">
          <input type="hidden" name="delete-target-instance-id" value="">
          <div class="form-btn">
            <button type="button" class="btn btn-outline-info" data-dismiss="modal">いいえ</button>
            <button type="submit" class="btn btn-info">はい</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
