/* ----- ----- ----- */
/* ----- Variable ----- */
/* ----- ----- ----- */
$font-color-lighter: #9DA0A4;
$font-color-heading: #333;
$info-color: #17a2b8;
$border-color: rgba(0,0,0,.1);
$form-bg-color: #f5f5f5;
$form-border-color: #ddd;

/* ----- ----- ----- */
/* ----- Mix-in ----- */
/* ----- ----- ----- */
@mixin article-info {
  img {
    border: 1px solid $border-color;
  }
  a{
    color: $font-color-lighter;
    font-weight: lighter;
  }
  .tag {
    border: 1px solid $info-color;
    border-radius: .25rem;
    font-size: .8rem;
    color: $info-color;
    text-decoration: none;
    padding: .25rem;
    margin-right: .5rem;
  }
}

@mixin filter-blur {
  filter: blur(7px);
  -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  transform: scale(1.05);
}

@mixin heading-style {
  h1, h2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: $font-color-heading;
    margin: 1rem 0;
  }
}

@mixin info-text-style {
  color: $font-color-lighter;
  font-size: 0.8rem;
}

/* ----- ----- ----- */
/* ----- Import ----- */
/* ----- ----- ----- */
@import "components/responsive_img";
@import "components/slider";
@import "components/vender_custom";

/* ----- ----- ----- */
/* ----- body ----- */
/* ----- ----- ----- */
body {
  font-family: Lato, "Helvetica Neue", Helvetica, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* ----- ----- ----- */
/* ----- Header ----- */
/* ----- ----- ----- */
header {
  position: absolute;
  width: 100%;
  &#header-home{
    position: inherit;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
  }
  input.form-control, button.btn {
    font-size: .9rem;
  }
}
.navbar-nav {
  font-size: .9rem;
  .dropdown-menu .dropdown-item {
    font-size: .9rem;
    padding: .5rem 1.5rem;
    svg {
      margin-right: 1rem;
      color: #777;
    }
  }
  #dropdown-menu-avatar {
    display: flex;
    justify-content: space-between;
    .dropdown-menu-avatar-text-name {
      font-size: 1.1rem;
    }
    .dropdown-menu-avatar-text-edit {
      font-size: .8rem;
      color: #777;
    }
    .dropdown-menu-avatar-img {
      margin-left: 3rem;
    }
  }
}

/* ----- ----- ----- */
/* ----- Main Contents ----- */
/* ----- ----- ----- */
#main-contents, #sidebar {
  margin: 3rem 0;
}
#main-contents {
  @include heading-style;

  .projects-index-menu {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $border-color;
    .projects-count {
      margin: 0;
      line-height: 1.5;
      .current {
        color: $font-color-lighter;
      }
      .total {
        color: $font-color-heading;
      }
    }
  }
  .project {
    margin-bottom: 3rem;
    border-bottom: 1px solid $border-color;
    a {
      text-decoration: none;
    }
    .responsive-img-wrapper {
      margin-bottom: 1rem;
    }
    .project-details {
      @include article-info;
      margin-bottom: 1rem;
      .project-excerpt {
        color: $font-color-lighter;
      }
    }
    .project-info {
      @include article-info;
      margin-bottom: 1rem;
      color: $font-color-lighter;
      .published-date {
        padding-right: .5rem;
        margin-right: .5rem;
        border-right: 1px solid $border-color;
      }
      .project-meta {

      }
    }
  }
}
article {
  padding: 3rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  h3{
    margin: 0 0 2rem;
  }
}

/* ----- ----- ----- */
/* ----- Sidebar ----- */
/* ----- ----- ----- */
#sidebar{
  h3 {
    font-size: 1.2rem;
    color: $font-color-heading;
    margin: 2rem 0;
  }
  h4 {
    font-size: 13px;
    font-weight: 600;
    padding: 16px 0 16px 12px;
    color: #6A6E71;
  }
  p {
    font-size: .8rem;
    color: #777;
    // margin: 2rem 0;
  }
  .filter-search {
    ul {
      font-size: .9rem;
      li {
        height: 1.7rem;
      }
    }
    h5 {
      color: $font-color-lighter;
      font-size: .9rem;
      height: 1.7rem;
    }
    .more-show {
      color: $info-color;
      font-size: .9rem;
    }
  }
}

/* ----- ----- ----- */
/* ----- Footer ----- */
/* ----- ----- ----- */
footer {
  background-color: #eee;
  padding: 3rem 0;
  h4, footer p {
    font-size: .8rem;
    color: #555;
  }
}

/* ----- ----- ----- */
/* ----- Avatar ----- */
/* ----- ----- ----- */
.avatar {
  border-radius: 50%;
  cursor: pointer;
}

/* ----- ----- ----- */
/* ----- Top Page Style ----- */
/* ----- ----- ----- */
.background {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  @include filter-blur;
  &:before {
    z-index: 1;
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
.background2 {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(255, 255, 255, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  .hero-body {
    h1 {
      font-weight: bold;
      font-size: 3.5rem;
      text-align: center;
      color: rgba(0, 0, 0, .5);
    }
    .subtitle {
      font-weight: 300;
      font-size: 1.2rem;
      text-align: center;
      color: rgba(0, 0, 0, .5);
    }
    .more {
      text-align: center;
      width: 100vw;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: .8rem;
      cursor: pointer;
      color: rgba(0, 0, 0, .5);
      margin-bottom: 2rem;
      svg {
        margin-right: 1rem;
      }
    }
  }
}
.second-feature {
  min-height: 100vh;
  min-width: 100vw;
  padding: 1.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  h2 {
    margin-top: 3rem;
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .col-md {
    margin: 3rem 0;
  }
}

/* ----- ----- ----- */
/* ----- Profile ----- */
/* ----- ----- ----- */
#profile-cover-bg {
  position: absolute;
  width: 100%;
  & > .responsive-img {
    @include filter-blur;
    &:before {
      background-color: rgba(0,0,0,0.3);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
    }
  }
  &:before {
    padding-top: 360px;
  }
}
#profile-cover {
  &:before {
    padding-top: 360px;
  }
  #go-to-profile-edit-page {
    position: relative;
    top: 1rem;
    left: 1rem;
    color: #fff;
    text-shadow: 0 1px 2px $font-color-lighter;
    z-index: 10;
  }
}
#profile-cover-offset {
  height: 150px;
  a {
    margin: 1.75rem 0;
    position: absolute;
  }
}
#profile-heading {
  position: relative;
  display: flex;
  margin-top: -4.5rem;
  margin-bottom: 2rem;
  #profile-avatar {
    border: 1px solid $border-color;
  }
  #profile-text {
    width: 100%;
    border-bottom: 1px solid $border-color;
    h1 {
      font-size: 1.75rem;
      font-weight: bold;
      color: #fff;
      margin-left: 1rem;
    }
    p {
      color: #fff;
      margin-left: 1rem;
      svg {
        width: .8rem;
        position: relative;
        top: -5px;
        margin: 0;
      }
    }
    ul {
      padding-left: .5rem;
      margin: 0;
      display: inline-block;
      li {
        @include info-text-style;
        display: inline-block;
        padding: 0 .5rem;
      }
    }
  }
}
#profile-body{
  #main-contents {
    border-right: 1px solid $border-color;
    margin-top: 0;
    padding-top: 2rem;
    section {
      h2 {
        margin-bottom: 2rem;
      }
      margin-bottom: 3rem;
      p {
        font-size: .9rem;
      }
    }
    .profile-entries {
      li {
        position: relative;
        margin-bottom: 2rem;
        .profile-entry-title {
          font-size: 1rem;
          font-weight: bold;
          color: $info-color;
          position: relative;
          &:before {
            content: "";
            display: block;
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            border-top: 1px solid $border-color;
            z-index: 1;
          }
          a, span {
            position: relative;
            z-index: 2;
            background-color: #fff;
            padding-right: 1rem;
          }
        }
        .profile-entry-date,
        .profile-entry-description {
          font-size: .9rem;
          color: $font-color-lighter;
        }
        .profile-entry-date {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 2;
          background-color: #fff;
          padding-left: 1rem;
        }
      }
    }
    .profile-portfolio {
      margin-bottom: 2rem;
      .portfolio-image {
        &:before {
          padding-top: 61.8%;
        }
        .responsive-img {
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover svg{
            opacity: 1;
          }
        }
        svg {
          height: 50%;
          width: 50%;
          color: #fff;
          margin: 0;
          opacity: 0;
        }
      }
      .profile-portfolio-title {
        font-size: 1rem;
      }
      .profile-portfolio-date,
      .profile-portfolio-detail {
        font-size: .9rem;
        color: $font-color-lighter;
      }
    }
    .profile-related-link {
      margin-bottom: 2rem;
      .profile-related-link-title {
        font-size: 1rem;
        font-weight: bold;
        color: $info-color;
      }
    }
  }
  #sidebar {
    margin-top: 0;
  }
}

.user-profile-aside {
  border-bottom: 1px solid $border-color;
  margin-left: -15px;
}
#user-wantedly-score-wrapper {
  text-align: center;
  padding: 1.5rem 0;
  #user-wantedly-score-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: $info-color;
    margin: 0 auto;
    h4 {
      font-size: .9rem;
      color: #fff;
      padding: 3rem 0 0;
    }
    p {
      font-size: 3.5rem;
      color: #fff;
      margin: 0;
    }
  }
  #about-wantedly-score {
    @include info-text-style;
  }
}
.related-profile-list {
  display: flex;
  border-top: 1px solid $border-color;
  padding: 1.5rem 0;
  .avatar {
    margin-left: .5rem;
  }
  .related-profile-list-info {
    margin-left: .5rem;
    h5 {
      color: $font-color-heading;
      font-size: 1rem;
    }
    p {
      @include info-text-style;
      margin: 0;
    }
  }
}

// friends_list
#user-profile-friends-list {
  a {
    display: flex;
    margin: 1rem 0;
    .user-profile-friends-info {
      margin-left: .5rem;
      h5 {
        color: $info-color;
        font-size: 1rem;
        margin: 0;
      }
      p {
        @include info-text-style;
        margin: 0;
      }
    }
  }
  .card {
    margin-bottom: 1rem;
    flex-direction: row;
    .user-profile-friends-info {
      margin-left: .5rem;
      padding: 1rem;
      h5 {
        color: $font-color-heading;
        font-size: 1.4rem;
      }
    }
  }
}
#see-all-link {
  font-weight: lighter;
  font-size: 1rem;
  margin-left: 1rem;
}
.count {
  margin-left: .5rem;
  color: $info-color;
}

// introductions_from_frends message balloon
#referrals {
  .message{
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    background: #eaf7fa;
    font-size: 1rem;
    position: relative;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
    border-radius: .25rem;
    &:after {
      content: "";
      position: absolute;
      bottom: -17px;
      left: 7px;
      border-width: 17px 10px 0;
      border-style: solid;
      border-color: #eaf7fa transparent;
      display: block;
      width: 0;
    }
  }
  .related-profile-list {
    border-top: 0;
    padding: 0 0 1.5rem;
    .avatar {
      margin-left: 0;
    }
  }
}

/* ----- ----- ----- */
/* ----- Profile Edit ----- */
/* ----- ----- ----- */
#profile-cover-edit,
#profile-avatar-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(0,0,0,.5);
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  &:hover {
    opacity: 1;
  }
  // #form-to-edit-cover,
  // #form-to-edit-avatar {
  //   display: none;
  // }
}
#profile-avatar-edit {
  position: absolute;
  top: 0;
  width: 120px;
  height: 120px;
}
.profile-config {
  display: inline-block;
  margin: 0 0 0 .5rem;
  button {
    font-size: .8rem;
    padding: .25rem .5rem;
  }
  .dropdown-item {
    font-size: .8rem;
  }
}
#profile-body{
  #main-contents {
    section {
      position: relative;
      .no-image {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: #aaa;
        color: #fff;
        p {
          font-size: 1.5rem;
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
      }
      .profile-config {
        position: absolute;
        top: 0;
        right: 0;
      }
      .editable-data {
        cursor: pointer;
        .editable-mark {
          display: none;
          padding-left: .5rem;
          font-size: .8rem;
          font-weight: lighter;
          color: $info-color;
        }
        &:hover .editable-mark {
          display: inherit;
        }
      }
      .form-for-editing,
      .form-for-adding {
        background-color: $form-bg-color;
        border: 1px solid $form-border-color;
        padding: 1rem;
        -webkit-border-radius: .25rem;
        -moz-border-radius: .25rem;
        -ms-border-radius: .25rem;
        -o-border-radius: .25rem;
        border-radius: .25rem;
        input, label, textarea  {
          font-size: .9rem;
        }
        .char-counter {
          font-size: .8rem;
        }
        .form-btn {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          button {
            margin-left: .25rem;
            font-size: .8rem;
          }
        }
        .upload-portfolio-image-btn {
          border: 1px solid $info-color;
          border-radius: .25rem;
          text-align: center;
          padding: 1.5rem;
          color: $info-color;
          font-size: .8rem;
          cursor: pointer;
        }
        .custom-file-input {
          display: none;
        }
      }
    }
  }
}
