@charset "UTF-8";
/* ----- ----- ----- */
/* ----- Variable ----- */
/* ----- ----- ----- */
/* ----- ----- ----- */
/* ----- Mix-in ----- */
/* ----- ----- ----- */
/* ----- ----- ----- */
/* ----- Import ----- */
/* ----- ----- ----- */
.responsive-img-wrapper {
  position: relative;
  overflow: hidden;
}
.responsive-img-wrapper:before {
  content: "";
  display: block;
  padding-top: 41.17%;
}
.responsive-img-wrapper .responsive-img {
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* -----Slider----- */
.slide-window {
  width: 100%;
  position: relative;
}
.slide-window .slide-wrapper {
  position: relative;
  left: 0;
  display: flex;
}
.slide-window .slide-wrapper .slide {
  position: relative;
  width: 100%;
}
.slide-window .slide-wrapper .slide:before {
  content: "";
  display: block;
  padding-top: 41.17%;
}
.slide-window .slide-wrapper .slide .slide-image {
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.slide-window .slide-wrapper .slide .slide-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7));
}
.slide-window .slide-wrapper .slide .slide-caption h2 {
  margin: 2rem 4.5rem;
  font-size: 2rem;
}
.slide-window .slide-wrapper .slide .slide-caption p {
  margin: -1rem 4.5rem 3rem;
  font-size: 1.5rem;
}
@media screen and (max-width: 767px) {
  .slide-window .slide-wrapper .slide .slide-caption h2 {
    margin: 0 3rem 1.5rem;
    font-size: 1.2rem;
  }
  .slide-window .slide-wrapper .slide .slide-caption p {
    margin: -1rem 3rem 1.75rem;
    font-size: 0.8rem;
  }
}
.slide-window:hover .slide-control-left {
  left: -20%;
  opacity: 1;
}
.slide-window:hover .slide-control-right {
  right: -20%;
  opacity: 1;
}

.slide-control-left {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: 0;
  right: auto;
}
.slide-control-left .slide-control-line {
  position: absolute;
  top: 50%;
  width: 2px;
  height: 14px;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  left: 15px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.slide-control-left .slide-control-line:nth-child(2) {
  -webkit-transform: translateY(1px) rotate(-135deg);
  transform: translateY(1px) rotate(-135deg);
}
.slide-control-left .slide-control-line:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.slide-control-left:hover {
  background-color: #fff;
}
.slide-control-left:hover .slide-control-line:after {
  background-color: #aaa;
}
.slide-control-left .rotate-left-top:after {
  animation: arrowLineRotation 0.49s;
}
.slide-control-left .rotate-left-down:after {
  animation: arrowLineRotationRev 0.49s;
}
@media screen and (max-width: 767px) {
  .slide-control-left {
    height: 30px;
    width: 30px;
    opacity: 1;
  }
  .slide-control-left .slide-control-line {
    left: 9px;
    height: 10px;
  }
}
@media screen and (max-width: 1023px) {
  .slide-control-left {
    opacity: 1;
    left: 1%;
  }
}

.slide-control-right {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  right: 0;
  left: auto;
}
.slide-control-right .slide-control-line {
  position: absolute;
  top: 50%;
  width: 2px;
  height: 14px;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  right: 15px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.slide-control-right .slide-control-line:nth-child(2) {
  -webkit-transform: translateY(1px) rotate(135deg);
  transform: translateY(1px) rotate(135deg);
}
.slide-control-right .slide-control-line:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.slide-control-right:hover {
  background-color: #fff;
}
.slide-control-right:hover .slide-control-line:after {
  background-color: #aaa;
}
.slide-control-right .rotate-right-down:after {
  animation: arrowLineRotation 0.49s;
}
.slide-control-right .rotate-right-top:after {
  animation: arrowLineRotationRev 0.49s;
}
@media screen and (max-width: 767px) {
  .slide-control-right {
    height: 30px;
    width: 30px;
    opacity: 1;
  }
  .slide-control-right .slide-control-line {
    right: 9px;
    height: 10px;
  }
}
@media screen and (max-width: 1023px) {
  .slide-control-right {
    opacity: 1;
    right: 1%;
  }
}

@keyframes arrowLineRotation {
  to {
    transform: rotate(180deg);
  }
}
@keyframes arrowLineRotationRev {
  to {
    transform: rotate(-180deg);
  }
}
.slide-control-btn ul {
  position: absolute;
  padding: 0;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.slide-control-btn ul li {
  margin: 0 5px;
  list-style: none;
}
.slide-control-btn ul li a {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.slide-control-btn ul li a.active, .slide-control-btn ul li a:hover {
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .slide-control-btn ul {
    margin: 0.5rem 0;
  }
  .slide-control-btn ul li a {
    width: 10px;
    height: 10px;
  }
}

#featured-slider-container {
  width: 100%;
  overflow: hidden;
}
#featured-slider-container .transition {
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

#featured-slider {
  margin: auto;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#featured-slider .slide-window .slide-wrapper {
  background-color: #f3f3f3;
  width: 10000px;
  left: -45vw;
}
#featured-slider .slide-window .slide-wrapper .slide {
  margin: 0.4rem 0.2rem;
  background-color: #fff;
  width: calc(45vw - .4rem);
}
#featured-slider .slide-window .slide-wrapper .slide:before {
  content: none;
}
#featured-slider .slide-window .slide-wrapper .slide .slide-article {
  padding: 1rem;
}
#featured-slider .slide-window .slide-wrapper .slide .slide-article img {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
#featured-slider .slide-window .slide-wrapper .slide .slide-article a {
  color: #9DA0A4;
  font-weight: lighter;
}
#featured-slider .slide-window .slide-wrapper .slide .slide-article .tag {
  border: 1px solid #17a2b8;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  color: #17a2b8;
  text-decoration: none;
  padding: 0.25rem;
  margin-right: 0.5rem;
}
#featured-slider .slide-window .slide-wrapper .slide .slide-article h2 {
  font-size: 1.2rem;
  font-weight: bold;
  height: 3rem;
  margin: 1rem 0;
}

/* -----Bootstrap Component Customize----- */
#login-form-modal .modal-content {
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
#login-form-modal h3 {
  text-align: center;
  padding: 1rem;
}
#login-form-modal a {
  font-size: 1rem;
}
#login-form-modal .or {
  position: relative;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 1.5rem 0;
}
#login-form-modal .or:before {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  z-index: 1;
}
#login-form-modal .or span {
  background: #fff;
  padding: 0 10px;
  position: relative;
  z-index: 5;
}

.google-plus-login-btn {
  background-color: #DB4437;
  color: #fff;
  transition: opacity 0.15s ease-in-out;
}
.google-plus-login-btn:hover {
  color: #fff;
  opacity: 0.8;
}

.facebook-login-btn {
  background-color: #4267B2;
  color: #fff;
  transition: opacity 0.15s ease-in-out;
}
.facebook-login-btn:hover {
  color: #fff;
  opacity: 0.8;
}

.modal-backdrop {
  opacity: 0.9;
  background-color: #fff;
}

/* -----Alert----- */
.flash-msg-box {
  position: absolute;
  top: 4rem;
  right: 3rem;
  z-index: 999;
}

/* -----Fontawesome----- */
.svg-inline--fa {
  margin-right: 0.5rem;
}

/* ----- Link ----- */
a, a:hover {
  text-decoration: none;
  color: #17a2b8;
}

/* ----- List ----- */
ul {
  list-style: none;
  padding: 0;
}

/* ----- ----- ----- */
/* ----- body ----- */
/* ----- ----- ----- */
body {
  font-family: Lato, "Helvetica Neue", Helvetica, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* ----- ----- ----- */
/* ----- Header ----- */
/* ----- ----- ----- */
header {
  position: absolute;
  width: 100%;
}
header#header-home {
  position: inherit;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
header input.form-control, header button.btn {
  font-size: 0.9rem;
}

.navbar-nav {
  font-size: 0.9rem;
}
.navbar-nav .dropdown-menu .dropdown-item {
  font-size: 0.9rem;
  padding: 0.5rem 1.5rem;
}
.navbar-nav .dropdown-menu .dropdown-item svg {
  margin-right: 1rem;
  color: #777;
}
.navbar-nav #dropdown-menu-avatar {
  display: flex;
  justify-content: space-between;
}
.navbar-nav #dropdown-menu-avatar .dropdown-menu-avatar-text-name {
  font-size: 1.1rem;
}
.navbar-nav #dropdown-menu-avatar .dropdown-menu-avatar-text-edit {
  font-size: 0.8rem;
  color: #777;
}
.navbar-nav #dropdown-menu-avatar .dropdown-menu-avatar-img {
  margin-left: 3rem;
}

/* ----- ----- ----- */
/* ----- Main Contents ----- */
/* ----- ----- ----- */
#main-contents, #sidebar {
  margin: 3rem 0;
}

#main-contents h1, #main-contents h2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin: 1rem 0;
}
#main-contents .projects-index-menu {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#main-contents .projects-index-menu .projects-count {
  margin: 0;
  line-height: 1.5;
}
#main-contents .projects-index-menu .projects-count .current {
  color: #9DA0A4;
}
#main-contents .projects-index-menu .projects-count .total {
  color: #333;
}
#main-contents .project {
  margin-bottom: 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#main-contents .project a {
  text-decoration: none;
}
#main-contents .project .responsive-img-wrapper {
  margin-bottom: 1rem;
}
#main-contents .project .project-details {
  margin-bottom: 1rem;
}
#main-contents .project .project-details img {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
#main-contents .project .project-details a {
  color: #9DA0A4;
  font-weight: lighter;
}
#main-contents .project .project-details .tag {
  border: 1px solid #17a2b8;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  color: #17a2b8;
  text-decoration: none;
  padding: 0.25rem;
  margin-right: 0.5rem;
}
#main-contents .project .project-details .project-excerpt {
  color: #9DA0A4;
}
#main-contents .project .project-info {
  margin-bottom: 1rem;
  color: #9DA0A4;
}
#main-contents .project .project-info img {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
#main-contents .project .project-info a {
  color: #9DA0A4;
  font-weight: lighter;
}
#main-contents .project .project-info .tag {
  border: 1px solid #17a2b8;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  color: #17a2b8;
  text-decoration: none;
  padding: 0.25rem;
  margin-right: 0.5rem;
}
#main-contents .project .project-info .published-date {
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
article {
  padding: 3rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
article h3 {
  margin: 0 0 2rem;
}

/* ----- ----- ----- */
/* ----- Sidebar ----- */
/* ----- ----- ----- */
#sidebar h3 {
  font-size: 1.2rem;
  color: #333;
  margin: 2rem 0;
}
#sidebar h4 {
  font-size: 13px;
  font-weight: 600;
  padding: 16px 0 16px 12px;
  color: #6A6E71;
}
#sidebar p {
  font-size: 0.8rem;
  color: #777;
}
#sidebar .filter-search ul {
  font-size: 0.9rem;
}
#sidebar .filter-search ul li {
  height: 1.7rem;
}
#sidebar .filter-search h5 {
  color: #9DA0A4;
  font-size: 0.9rem;
  height: 1.7rem;
}
#sidebar .filter-search .more-show {
  color: #17a2b8;
  font-size: 0.9rem;
}

/* ----- ----- ----- */
/* ----- Footer ----- */
/* ----- ----- ----- */
footer {
  background-color: #eee;
  padding: 3rem 0;
}
footer h4, footer footer p {
  font-size: 0.8rem;
  color: #555;
}

/* ----- ----- ----- */
/* ----- Avatar ----- */
/* ----- ----- ----- */
.avatar {
  border-radius: 50%;
  cursor: pointer;
}

/* ----- ----- ----- */
/* ----- Top Page Style ----- */
/* ----- ----- ----- */
.background {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(7px);
  -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  transform: scale(1.05);
}
.background:before {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.background2 {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-body h1 {
  font-weight: bold;
  font-size: 3.5rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.hero .hero-body .subtitle {
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.hero .hero-body .more {
  text-align: center;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.8rem;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}
.hero .hero-body .more svg {
  margin-right: 1rem;
}

.second-feature {
  min-height: 100vh;
  min-width: 100vw;
  padding: 1.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.second-feature h2 {
  margin-top: 3rem;
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
}
.second-feature .col-md {
  margin: 3rem 0;
}

/* ----- ----- ----- */
/* ----- Profile ----- */
/* ----- ----- ----- */
#profile-cover-bg {
  position: absolute;
  width: 100%;
}
#profile-cover-bg > .responsive-img {
  filter: blur(7px);
  -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  transform: scale(1.05);
}
#profile-cover-bg > .responsive-img:before {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}
#profile-cover-bg:before {
  padding-top: 360px;
}

#profile-cover:before {
  padding-top: 360px;
}
#profile-cover #go-to-profile-edit-page {
  position: relative;
  top: 1rem;
  left: 1rem;
  color: #fff;
  text-shadow: 0 1px 2px #9DA0A4;
  z-index: 10;
}

#profile-cover-offset {
  height: 150px;
}
#profile-cover-offset a {
  margin: 1.75rem 0;
  position: absolute;
}

#profile-heading {
  position: relative;
  display: flex;
  margin-top: -4.5rem;
  margin-bottom: 2rem;
}
#profile-heading #profile-avatar {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
#profile-heading #profile-text {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#profile-heading #profile-text h1 {
  font-size: 1.75rem;
  font-weight: bold;
  color: #fff;
  margin-left: 1rem;
}
#profile-heading #profile-text p {
  color: #fff;
  margin-left: 1rem;
}
#profile-heading #profile-text p svg {
  width: 0.8rem;
  position: relative;
  top: -5px;
  margin: 0;
}
#profile-heading #profile-text ul {
  padding-left: 0.5rem;
  margin: 0;
  display: inline-block;
}
#profile-heading #profile-text ul li {
  color: #9DA0A4;
  font-size: 0.8rem;
  display: inline-block;
  padding: 0 0.5rem;
}

#profile-body #main-contents {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 0;
  padding-top: 2rem;
}
#profile-body #main-contents section {
  margin-bottom: 3rem;
}
#profile-body #main-contents section h2 {
  margin-bottom: 2rem;
}
#profile-body #main-contents section p {
  font-size: 0.9rem;
}
#profile-body #main-contents .profile-entries li {
  position: relative;
  margin-bottom: 2rem;
}
#profile-body #main-contents .profile-entries li .profile-entry-title {
  font-size: 1rem;
  font-weight: bold;
  color: #17a2b8;
  position: relative;
}
#profile-body #main-contents .profile-entries li .profile-entry-title:before {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1;
}
#profile-body #main-contents .profile-entries li .profile-entry-title a, #profile-body #main-contents .profile-entries li .profile-entry-title span {
  position: relative;
  z-index: 2;
  background-color: #fff;
  padding-right: 1rem;
}
#profile-body #main-contents .profile-entries li .profile-entry-date,
#profile-body #main-contents .profile-entries li .profile-entry-description {
  font-size: 0.9rem;
  color: #9DA0A4;
}
#profile-body #main-contents .profile-entries li .profile-entry-date {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: #fff;
  padding-left: 1rem;
}
#profile-body #main-contents .profile-portfolio {
  margin-bottom: 2rem;
}
#profile-body #main-contents .profile-portfolio .portfolio-image:before {
  padding-top: 61.8%;
}
#profile-body #main-contents .profile-portfolio .portfolio-image .responsive-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
#profile-body #main-contents .profile-portfolio .portfolio-image .responsive-img:hover svg {
  opacity: 1;
}
#profile-body #main-contents .profile-portfolio .portfolio-image svg {
  height: 50%;
  width: 50%;
  color: #fff;
  margin: 0;
  opacity: 0;
}
#profile-body #main-contents .profile-portfolio .profile-portfolio-title {
  font-size: 1rem;
}
#profile-body #main-contents .profile-portfolio .profile-portfolio-date,
#profile-body #main-contents .profile-portfolio .profile-portfolio-detail {
  font-size: 0.9rem;
  color: #9DA0A4;
}
#profile-body #main-contents .profile-related-link {
  margin-bottom: 2rem;
}
#profile-body #main-contents .profile-related-link .profile-related-link-title {
  font-size: 1rem;
  font-weight: bold;
  color: #17a2b8;
}
#profile-body #sidebar {
  margin-top: 0;
}

.user-profile-aside {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: -15px;
}

#user-wantedly-score-wrapper {
  text-align: center;
  padding: 1.5rem 0;
}
#user-wantedly-score-wrapper #user-wantedly-score-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #17a2b8;
  margin: 0 auto;
}
#user-wantedly-score-wrapper #user-wantedly-score-circle h4 {
  font-size: 0.9rem;
  color: #fff;
  padding: 3rem 0 0;
}
#user-wantedly-score-wrapper #user-wantedly-score-circle p {
  font-size: 3.5rem;
  color: #fff;
  margin: 0;
}
#user-wantedly-score-wrapper #about-wantedly-score {
  color: #9DA0A4;
  font-size: 0.8rem;
}

.related-profile-list {
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem 0;
}
.related-profile-list .avatar {
  margin-left: 0.5rem;
}
.related-profile-list .related-profile-list-info {
  margin-left: 0.5rem;
}
.related-profile-list .related-profile-list-info h5 {
  color: #333;
  font-size: 1rem;
}
.related-profile-list .related-profile-list-info p {
  color: #9DA0A4;
  font-size: 0.8rem;
  margin: 0;
}

#user-profile-friends-list a {
  display: flex;
  margin: 1rem 0;
}
#user-profile-friends-list a .user-profile-friends-info {
  margin-left: 0.5rem;
}
#user-profile-friends-list a .user-profile-friends-info h5 {
  color: #17a2b8;
  font-size: 1rem;
  margin: 0;
}
#user-profile-friends-list a .user-profile-friends-info p {
  color: #9DA0A4;
  font-size: 0.8rem;
  margin: 0;
}
#user-profile-friends-list .card {
  margin-bottom: 1rem;
  flex-direction: row;
}
#user-profile-friends-list .card .user-profile-friends-info {
  margin-left: 0.5rem;
  padding: 1rem;
}
#user-profile-friends-list .card .user-profile-friends-info h5 {
  color: #333;
  font-size: 1.4rem;
}

#see-all-link {
  font-weight: lighter;
  font-size: 1rem;
  margin-left: 1rem;
}

.count {
  margin-left: 0.5rem;
  color: #17a2b8;
}

#referrals .message {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  background: #eaf7fa;
  font-size: 1rem;
  position: relative;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
#referrals .message:after {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 7px;
  border-width: 17px 10px 0;
  border-style: solid;
  border-color: #eaf7fa transparent;
  display: block;
  width: 0;
}
#referrals .related-profile-list {
  border-top: 0;
  padding: 0 0 1.5rem;
}
#referrals .related-profile-list .avatar {
  margin-left: 0;
}

/* ----- ----- ----- */
/* ----- Profile Edit ----- */
/* ----- ----- ----- */
#profile-cover-edit,
#profile-avatar-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
#profile-cover-edit:hover,
#profile-avatar-edit:hover {
  opacity: 1;
}

#profile-avatar-edit {
  position: absolute;
  top: 1px;
  width: 120px;
  height: 120px;
}

.profile-config {
  display: inline-block;
  margin: 0 0 0 0.5rem;
}
.profile-config button {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
}
.profile-config .dropdown-item {
  font-size: 0.8rem;
}

#profile-body #main-contents section {
  position: relative;
}
#profile-body #main-contents section .no-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #aaa;
  color: #fff;
}
#profile-body #main-contents section .no-image p {
  font-size: 1.5rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#profile-body #main-contents section .profile-config {
  position: absolute;
  top: 0;
  right: 0;
}
#profile-body #main-contents section .editable-data {
  cursor: pointer;
}
#profile-body #main-contents section .editable-data .editable-mark {
  display: none;
  padding-left: 0.5rem;
  font-size: 0.8rem;
  font-weight: lighter;
  color: #17a2b8;
}
#profile-body #main-contents section .editable-data:hover .editable-mark {
  display: inherit;
}
#profile-body #main-contents section .form-for-editing,
#profile-body #main-contents section .form-for-adding {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 1rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
#profile-body #main-contents section .form-for-editing input, #profile-body #main-contents section .form-for-editing label, #profile-body #main-contents section .form-for-editing textarea,
#profile-body #main-contents section .form-for-adding input,
#profile-body #main-contents section .form-for-adding label,
#profile-body #main-contents section .form-for-adding textarea {
  font-size: 0.9rem;
}
#profile-body #main-contents section .form-for-editing .char-counter,
#profile-body #main-contents section .form-for-adding .char-counter {
  font-size: 0.8rem;
}
#profile-body #main-contents section .form-for-editing .form-btn,
#profile-body #main-contents section .form-for-adding .form-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#profile-body #main-contents section .form-for-editing .form-btn button,
#profile-body #main-contents section .form-for-adding .form-btn button {
  margin-left: 0.25rem;
  font-size: 0.8rem;
}
#profile-body #main-contents section .form-for-editing .upload-portfolio-image-btn,
#profile-body #main-contents section .form-for-adding .upload-portfolio-image-btn {
  border: 1px solid #17a2b8;
  border-radius: 0.25rem;
  text-align: center;
  padding: 1.5rem;
  color: #17a2b8;
  font-size: 0.8rem;
  cursor: pointer;
}
#profile-body #main-contents section .form-for-editing .custom-file-input,
#profile-body #main-contents section .form-for-adding .custom-file-input {
  display: none;
}

/* ----- ----- ----- */
/* ----- Organization page ----- */
/* ----- ----- ----- */
#org-header-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
}
#org-header-bar .org-header-logo {
  position: relative;
}
#org-header-bar .org-header-logo img {
  vertical-align: top;
  border-radius: 50%;
  border: 3px solid #fff;
}
#org-header-bar .org-header-logo .org-header-info {
  display: inline-block;
  margin-left: 1rem;
}
#org-header-bar .org-header-logo .org-header-info h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}
#org-header-bar .org-header-logo .org-header-info ul {
  color: #9DA0A4;
  font-size: 0.8rem;
  margin-bottom: 0;
}
#org-header-bar .org-header-logo .org-header-info ul li {
  display: inline-block;
  margin-right: 0.5rem;
}
#org-header-bar .org-header-logo .org-header-info ul li button {
  padding: 0 0.5rem;
}
#org-header-bar .org-header-logo .org-header-info ul li .svg-inline--fa {
  margin-right: 0;
}

#org-hero:before {
  padding-top: 400px;
}

#org-main-contents {
  position: relative;
}
#org-main-contents #index-scrollspy {
  position: -webkit-sticky;
  position: sticky;
  top: calc(40vh);
}
#org-main-contents #index-scrollspy .nav .nav-item .nav-link {
  color: #ccc;
}
#org-main-contents #index-scrollspy .nav .nav-item .nav-link.active {
  text-decoration: underline;
  color: #17a2b8;
}
#org-main-contents section {
  margin-bottom: 3rem;
}
#org-main-contents section h2 {
  font-size: 1.25rem;
  color: #777;
  margin-bottom: 2rem;
}
#org-main-contents section p {
  color: #777;
  line-height: 2rem;
}
#org-main-contents #mission h2 {
  font-size: 2.5rem;
  color: #333;
}
#org-main-contents #values .value-first {
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}
#org-main-contents #values .value-first .value-name {
  display: flex;
  align-items: center;
}
#org-main-contents #values .value-first .value-name h3 {
  font-weight: bold;
  font-size: 1.5rem;
}
#org-main-contents #values .value-first .value-detail p {
  font-size: 0.85rem;
  margin: 0;
}
#org-main-contents #values .value-latter {
  border-top: 1px solid #ccc;
  padding: 1rem;
}
#org-main-contents #values .value-latter h3 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 1rem 0;
  text-align: center;
}
#org-main-contents #values .value-latter p {
  font-size: 0.85rem;
  margin: 0;
}
#org-main-contents #members .member-avatar-wrapper {
  text-align: center;
}
#org-main-contents #members .member-avatar-wrapper img {
  border-radius: 50%;
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
#org-main-contents #members .member-avatar-wrapper img:hover {
  transform: scale(1.27);
}
#org-main-contents #members .member-avatar-wrapper p {
  margin: 2rem 0;
}
#org-main-contents #information h3 {
  font-size: 1.25rem;
}
#org-main-contents #information li {
  line-height: 2rem;
  color: #777;
  font-size: 0.9rem;
}
#org-main-contents #information iframe {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=main.css.map */
