{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'wantedly_app/css/main.css' %}">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <span class="nav-link">Hello, {{ user.username }}</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-comments"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-user"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-bell"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>ログアウト</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a id="login-btn" class="nav-link" href="#" data-toggle="modal" data-target="#login-form-modal"><i class="fas fa-sign-in-alt"></i>ログイン</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">採用担当者の方</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    {% if messages %}
      {% for message in messages %}
        {% if message.tags == "success" %}
          <div class="flash-msg-box alert alert-success alert-dismissible fade show"><i class="fas fa-thumbs-up"></i>
        {% elif message.tags == "error" %}
          <div class="flash-msg-box alert alert-warning alert-dismissible fade show"><i class="fas fa-exclamation-triangle"></i>
        {% endif %}
          <span>{{ message }}</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md">
            <h4>サービス</h4>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
          </div>
          <div class="col-md">
            <h4>アプリ</h4>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
          </div>
          <div class="col-md">
            <h4>リンク</h4>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
          </div>
          <div class="col-4">
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
            <p>hogehoge</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- LoginFormModal -->
    {% if not user.is_authenticated %}
    <div class="modal fade" id="login-form-modal" tabindex="-1" role="dialog" aria-labelledby="login-form-modal-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <h3>ログイン</h3>
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="google-plus-login-btn btn btn-lg btn-block">Googleアカウント</a>
            <p class="or"><span>または</span></p>
            <form method="post" action="{% url 'home' %}">
              {% csrf_token %}
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-user"></i></div>
                  </div>
                  {{ login_form.username|add_class:'form-control' }}
                  {% for error in login_form.username.errors %}
                  <span class="text-warning">{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-key"></i></div>
                  </div>
                  {{ login_form.password|add_class:'form-control' }}
                  {% for error in login_form.password.errors %}
                  <span class="text-warning">{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
              <p class="text-center"><a href="#" class="text-info">パスワードをお忘れですか？</a></p>
              <button type="submit" class="btn btn-info btn-block">ログイン</button>
            </form>
          </div>
          <div class="modal-footer">
            <p>初めてのご利用ですか？</p>
            <a class="btn btn-outline-info" href="{% url 'sign_up' %}">登録</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <script defer src="https://use.fontawesome.com/releases/v5.4.1/js/solid.js" integrity="sha384-agDKwSYPuGlC0wD14lKXXwb94jlUkbkoSugquwmKRKWv/nDXe1kApDS/gqUlRQmZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.4.1/js/fontawesome.js" integrity="sha384-ISRc+776vRkDOTSbmnyoZFmwHy7hw2UR3KJpb4YtcfOyqUqhLGou8j5YmYnvQQJ4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static 'wantedly_app/js/main.js' %}"></script>
  </body>
</html>
